:root{
    ---colorDestaque: rgb(61, 61, 255);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 720px;
    background-color: white;
}

header{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid hwb(0 87% 13% / 0.5);
}
.cntrAvatar{
    background-color: grey;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.4em;
}
.cntrNome{
    width: 100%;
    padding-left: 10px;
    font-size: .9em;
}
.cntrNome p{
    font-size: 1em;
}
.cntrNome p:last-child{
    font-weight: bold;
    font-size: .9em;
    margin-top: 4px;
}
.cntrTrocarConta{
    padding: 10px 6px;
    font-size: .9em;

}
.cntrTrocarConta button{
    min-width: 100px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(---colorDestaque);
    border: none;
    border-radius: 4px;
    font-size: 1em;
}
main{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cntrSaldo{
    padding-top: 20px;
}
.cntrSaldo p{
    font-size: 1em;
}
.cntrSaldo p span{
    font-weight: bold;
    font-size: .9em;
    margin-left: 10px;
}

.cntrBoxImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
}
.cntrBoxImg p{
    margin-bottom: 10px;
}

footer{
    position: absolute;
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 720px;
    border: 1px solid hwb(0 87% 13% / 0.5);
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.2);
}
footer input{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    font-size: .9em;
    background-color: transparent;
}
.cntrEnvio{
    display: flex;
    align-items: center;
    padding: 6px;
}
.cntrEnvio svg{
    width: 20px;
    height: 20px;
}
.cntrEnvio path{
    fill: var(---colorDestaque);
}

.ctnrInputs{
    display: none;
    align-items: center;

}
.ctnrInputs div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}
.ctnrInputs input{
    padding: 10px;
    width: fit-content;
    margin-bottom: 10px;

}

.ctnrInputs button{
    padding: 10px;

}